.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    height: 100vh;
}

.about-me {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 100vw;
    margin: 80px
}

.about-me__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35vw;
}

.about-me__title {
    font-size: 38px;
    font-family: Ubuntu, sans-serif;
}

.about-me__paragraph {
    font-size: 18px;
    font-family: Ubuntu, sans-serif;
}
